**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env
**/.venv
**/.env
**/.idea

.pre-commit-config.yaml
**/volumes
**/k8s
deploy_k8s.sh